@*@model IEnumerable<EmployeeListingViewModel>*@
@model EmployeeQueryServiceModel

@{ViewBag.Title = "Балет"; }

<h4 class="text-center mb-2">@ViewBag.Title</h4>
<span class="d-block p-2 bg-info text-white text-center mb-3">Прими и Премиери</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Примабалерина" || x.Category == "Премиер-солист")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Солисти</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Солист")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Ансамбъл</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Ансамбъл")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Гост-солисти</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Гост-Солист")" />
</div>