


<div class="row">
    @foreach (var employee in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <img class="card-img-top" src="@employee.ImageUrl" alt="...">
                <div class="card-body text-center">
                    <a href="@Url.Action("Details","Employee",new { id= $"{employee.Id}"})" style="color:#ba9765" class="card-title text-center">@employee.FirstName @employee.LastName</a>
                    <p>@employee.Category</p>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>