@*@model IEnumerable<EmployeeListingViewModel>*@
@model EmployeeQueryServiceModel

@{ViewData["Title"] = "Опера"; }

<h4 class="text-center mb-2">ОПЕРА</h4>
<span class="d-block p-2 bg-info text-white text-center mb-3">Сопрани</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Сопран")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Мецосопрани</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Мецосопран")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Тенори</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Тенор")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Баритони</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Баритон")" />
</div>
<span class="d-block p-2 bg-info text-white text-center mb-3">Баси</span>
<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees.Where(x => x.Category == "Бас")" />
</div>