@model EventDetailsServiceModel

@inject IMemberService Members

@{ViewData["Title"] = $"{Model.Title}"; }

<div class="articles-read">
    <div class="image img-thumbnail">
        <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Title">
        <div class="article">
            <h2 class="text-center" style="color:#ba9765">@Model.Title</h2>

            <div class="row">

                <h5 class="text mt-2 mb-4 m-2 ml-3" style="color:#ba9765">Композитор: @Model.Composer</h5>
                @if (!User.IsAdmin())
                {
                    <div class="" style="text-align: center">
                        <a asp-controller="Ticket" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-primary" style="float: right;">Buy ticket</a>
                    </div>
                }
            </div>
            <h4 class="text-center mb-2 mt-2">Синопсис</h4>
            <div class="content text text-center font-weight-normal">
                <p>@Model.Synopsis</p>
            </div>
        </div>
        <h3 class="text-center mb-2">Състав</h3>
        @if (User.IsAdmin())
        {
            <a class="nav-link shadow btn-primary m-4 text-center " asp-area="Admin" asp-controller="Event" asp-action="SetRole" asp-route-eventId="@Model.Id" asp-route-performanceId="@Model.PerformanceId">
                + Добави роля
            </a>
        }
        @if (Model.EventRoles.Any())
        {
            <div class="row">
                @foreach (var role in Model.EventRoles)
                {
                    <div class="col-md-3">
                        <div class="card mb-3 shadow h-90 w-50">
                            <img class="card-img-top" src="@role.ImageUrl" alt="...">
                            <div class="card-body text-center">
                                <h5><a class="text-center" style="color:#ba9765" asp-controller="Employee" asp-action="Details" asp-route-id="@role.EmployeeId">@role.EmployeeFirstName @role.EmployeeLastName</a></h5>
                                <p class="text-center">@role.RoleName</p>
                                @if (User.IsAdmin())
                                {
                                    <a asp-area="Admin" asp-controller="Event" asp-action="DeleteEventRole" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>



