@model EventDetailsViewModel

@{
    var ids = new Dictionary<string, string>();
    ids.Add("eventId", Model.Id.ToString());
    ids.Add("performanceId", Model.PerformanceId.ToString());
 }}


<div class="articles-read">
    <div class="image img-thumbnail">
        <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Title">
        <div class="article">
            <h2 class="text-center" style="color:#ba9765">@Model.Title</h2>
            <h5 class="text mt-2 mb-3 m-2" style="color:#ba9765">Композитор:  @Model.Composer</h5>
            <div class="content text text-center font-weight-normal">
                <p>@Model.Synopsis</p>
            </div>
        </div>
        <h3 class="text-center">Състав</h3>
        <a class="nav-link shadow btn-primary m-4 text-center " asp-controller="Event" asp-action="SetRole" asp-all-route-data="ids" asp-route-id="@Model.Id">
            + Добави роля
        </a>
        @if (Model.EventRoles.Any())
        {
            @foreach (var role in Model.EventRoles)
            {
                <div class="col-md-4">
                    <div class="card mb-3 shadow h-90 w-50">
                        <img class="card-img-top" src="@role.ImageUrl" alt="...">
                        <div class="card-body text-center">
                            <h5><a class="text-center" style="color:#ba9765" asp-controller="Employee" asp-action="Details" asp-route-id="@role.EmployeeId">@role.EmployeeFirstName @role.EmployeeLastName</a></h5>
                            @*<a asp-controller="Employee" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>*@
                        </div>
                    </div>
                </div>

                <div class="row row ml-3 mr-3 mt-2">
                    <div class="col">
                        <p>@role.RoleName</p>

                    </div>
                    <div class="col">
                        <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        }
    </div>
</div>





