@model NewsListingViewModel


<div class="articles-read">
    <div class="image img-thumbnail">
        <img src="@Model.ImageUrl" class="img-fluid table-responsive-sm" width="400" height="500" alt="@Model.Title">
        <div class="article">
            <h3 class="text-center" style="color:#ba9765">@Model.Title</h3>
            <div class="content text text-center font-weight-normal">
                <p>@Model.Content</p>
            </div>
        </div>
        @if (Model.VideoUrl != null)
        {
            <iframe class="mb-3" width="560" height="315" src="@Model.VideoUrl"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        }
    </div>
</div>

