@model AllPerformancesQueryModel

@using static OperaHouseTheater.WebConstants

@{ViewData["Title"] = "Репертоар"; }

<div class="mt-3"></div>
<h2 class="text-center text-info">Спектакли</h2>
@if (User.IsAdmin())
{
    <a class="nav-link shadow btn-primary m-4 text-center" asp-controller="Performance" asp-action="Create">
        + Добави спектакъл
    </a>
}
<form method="get">
    <div class="row mb-2 ">
        <div class="form-group col-md-3 text-right">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control" id="select-option">
                    <option value="@null">All</option>
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>
        <div style="float:right" class="form-group col-md-3 text-right">
            <label asp-for="SearchTerm" class="text-right"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Some text" />
        </div>
    </div>
</form>


<div class="row">
    @if (!Model.Performances.Any())
    {
        <h3>We are sorry, but there is no such performance according to the given criteria.</h3>
    }
    @foreach (var performance in Model.Performances)
    {
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <img class="card-img-top" src="@performance.ImageUrl" alt="...">
                <div class="card-body text-center">
                    <h5 style="color:#ba9765" class="card-title text-center">@performance.Title</h5>
                    <span class="text-center">@performance.PerformanceType от @performance.Composer</span>
                    <div>
                        <a asp-controller="Performance" asp-action="Details" asp-route-id="@performance.Id" class="btn btn-info">Виж повече</a>
                        @if (User.IsAdmin())
                        {
                            <a asp-controller="Performance" asp-action="Edit" asp-route-id="@performance.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Performance" asp-action="Delete" asp-route-id="@performance.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@*@section Scripts{
       <script>
           $('#select-option').on('click', ev => {

           });

       </script>

    }*@