@model PerformanceDetailsServiceModel
@*@model  PerformanceDetailsViewModel*@

@inject IMemberService Members

@using static OperaHouseTheater.WebConstants

@{ViewBag.Title = $"{Model.Title}"; }

<div class="articles-read">
    <div class="image img-thumbnail">
        <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Title">
        <div class="article">
            <h2 class="text-center" style="color:#ba9765">@Model.Title</h2>
            <h5 class="text mt-2 mb-3 m-2" style="color:#ba9765">Композитор:  @Model.Composer</h5>
            <div class="content text text-center font-weight-normal">
                <p>@Model.Synopsis</p>
            </div>
        </div>
        @if (Model.Events.Any())
        {
            <h2 class="text-center">Events</h2>
            <div class="row">
                @foreach (var crrEvent in Model.Events)
                {
                    <div class="col-md-3">
                        <div class="card mb-3 shadow h-90 w-50">
                            <h5>
                                <a class="text-center" style="color:#ba9765"
                                   asp-controller="Event" asp-action="Details"
                                   asp-route-id="@crrEvent.Id">
                                    @crrEvent.Date.ToString("d")
                                </a>
                            </h5>
                        </div>
                    </div>
                }
            </div>
        }

        @if (User.IsAdmin())
        {
            <h3 class="text-center">Роли</h3>
            <a class="nav-link shadow btn-primary m-4 text-center " asp-area="Admin" asp-controller="Role" asp-action="AddRole" asp-route-performanceId="@Model.Id">
                + Добави роля
            </a>
            @if (Model.Roles.Any())
            {
                @foreach (var role in Model.Roles)
                {
                    <div class="row row ml-3 mr-3 mt-2">
                        <div class="col">
                            <h5>@role.RoleName</h5>
                        </div>
                        <div class="col">
                            <a asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            }
        }

        <div class="rom mb-2"></div>
        <h3 class="text-center mb-4">Comments</h3>

        @*new one:*@
        @if (!User.IsAdmin())
        {
            <div class="" style="text-align: center">
                <a asp-controller="Comment"
                   asp-action="Create"
                   asp-route-id="@Model.Id" class="btn btn-outline-primary">Add Comment</a>
            </div>
        }
        <div style="height:300px;overflow-y:scroll">
            @if (!Model.Comments.Any())
            {
                <h3 class="text-center mb-2">There are still no comments for this performance.</h3>
                <h5 class="text-center">You can be the first one with comment here!</h5>
            }
            else
            {
                var memberId = Members.GetMemberId(User.GetId());

                @foreach (var comment in Model.Comments)
                {
                    <div class="card">
                        <div class="card-header">
                            @comment.CreatorName
                        </div>
                        <div class="card-body">
                            <p class="card-text">@comment.Content</p>
                            @if (comment.CreatorId == memberId || User.IsAdmin())
                            {
                                <a asp-controller="Comment" asp-action="Delete"
                                   asp-route-id="@comment.Id"
                                   class="btn btn-outline-danger float-right">Delete</a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

